  <div class="flex justify-between w-full max-w-3xl mb-6 bg-white">
    <div class="font-bold text-lg p-3">
      {{ offer?.catalogOffering["gx:name"] }}
    </div>
  </div>

  <div class="w-full max-w-3xl pb-6">
    <div #viewContainerRef></div>
    <ng-template #accordion>
    <c-accordion [alwaysOpen]="true" [flush]="true">
      <c-accordion-item #contractDetails="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button (click)="contractDetails.toggleItem()" [collapsed]="!contractDetails.visible" cAccordionButton>
            View contract details
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div *ngIf="!offer.dataOffering" class="accordion-body">
            <b>Offer ID:</b> {{ offer.catalogOffering.id }} <br/>
            <b>Offer name:</b> {{ offer.catalogOffering["gx:name"] }} <br/>
            <b>Provided by:</b> {{ offer.catalogOffering["gx:providedBy"].id }} <br/>
            <b>Publisher:</b> Not implemented yet <br/>
            <b>Description:</b> {{ offer.catalogOffering["gx:description"] }} <br/>
            <b>Terms & Conditions:</b> <br/>
            <ul *ngFor="let tnc of offer.catalogOffering['gx:termsAndConditions']">
              <li>
                <div *ngIf="isHttpOrHttps(tnc['gx:URL']); else textUrl">
                  <a href="{{ tnc['gx:URL'] }}">{{ tnc['gx:URL'] }}</a>
                </div>
                <ng-template #textUrl>
                  <span>{{ tnc['gx:URL'] }}</span>
                </ng-template>
                (Hash: {{ tnc["gx:hash"] }})
              </li>
            </ul>
            <b>Policy:</b> <br/>
            <ul *ngFor="let p of offer.catalogOffering['gx:policy']">
              <li>{{ p }}</li>
            </ul>
            <b>Data Protection Regime:</b> <br/>
            <ul *ngFor="let r of offer.catalogOffering['gx:dataProtectionRegime']">
              <li>{{ r }}</li>
            </ul>
            <b>Data Account Export:</b> <br/>
            <ul *ngFor="let e of offer.catalogOffering['gx:dataAccountExport']">
              <li>Format Type: {{ e["gx:formatType"] }} <br/>Access Type: {{ e["gx:accessType"] }}
                <br/>Request Type: {{ e["gx:requestType"] }}
              </li>
            </ul>
          </div>
          <div *ngIf="offer.dataOffering" class="accordion-body">
            <b>Offer ID:</b> {{ offer.catalogOffering.id }} <br/>
            <b>Data Ressource Name:</b> {{ offer.catalogOffering["gx:aggregationOf"][0]["gx:name"] }} <br/>
            <b>Provided by:</b> {{ offer.catalogOffering["gx:providedBy"].id }} <br/>
            <b>Publisher:</b> Not implemented yet <br/>
            <b>Data Ressource Description:</b> {{ offer.catalogOffering["gx:aggregationOf"][0]["gx:description"] }}
            <br/>
            <b>Data Ressource Policy:</b><br/>
            <ul *ngFor="let p of offer.catalogOffering['gx:aggregationOf'][0]['gx:policy']">
              <li>{{ p }}</li>
            </ul>
            <b>License:</b> <br/>
            <ul *ngFor="let l of offer.catalogOffering['gx:aggregationOf'][0]['gx:license']">
              <li>{{ l }}</li>
            </ul>
            <b>Copyright owned by:</b> {{ offer.catalogOffering["gx:aggregationOf"][0]["gx:copyrightOwnedBy"].id }}
            <br/>
            <b>Produced by:</b> {{ offer.catalogOffering["gx:aggregationOf"][0]["gx:producedBy"].id }} <br/>
            <b>Exposed through:</b> {{ offer.catalogOffering["gx:aggregationOf"][0]["gx:exposedThrough"].id }} <br/>
            <b>Contains personal identifiable Information
              (PII):</b> {{ offer.catalogOffering["gx:aggregationOf"][0]["gx:containsPII"] }} <br/>
            <br/><br/>
            <b>Offer name:</b> {{ offer.catalogOffering["gx:name"] }} <br/>
            <b>Description:</b> {{ offer.catalogOffering["gx:description"] }} <br/>
            <b>Terms & Conditions:</b> <br/>
            <ul *ngFor="let tnc of offer.catalogOffering['gx:termsAndConditions']">
              <li>
                <div *ngIf="isHttpOrHttps(tnc['gx:URL']); else textUrl">
                  <a href="{{ tnc['gx:URL'] }}">{{ tnc['gx:URL'] }}</a>
                </div>
                <ng-template #textUrl>
                  <span>{{ tnc['gx:URL'] }}</span>
                </ng-template>
                (Hash: {{ tnc["gx:hash"] }})
              </li>
            </ul>
            <b>Policy:</b> <br/>
            <ul *ngFor="let p of offer.catalogOffering['gx:policy']">
              <li>{{ p }}</li>
            </ul>
            <b>Data Protection Regime:</b><br/>
            <ul *ngFor="let r of offer.catalogOffering['gx:dataProtectionRegime']">
              <li>{{ r }}</li>
            </ul>
            <b>Data Account Export:</b> <br/>
            <ul *ngFor="let e of offer.catalogOffering['gx:dataAccountExport']">
              <li>Format Type: {{ e["gx:formatType"] }} <br/>Access Type: {{ e["gx:accessType"] }}
                <br/>Request Type: {{ e["gx:requestType"] }}
              </li>
            </ul>
          </div>
        </ng-template>
      </c-accordion-item>
    </c-accordion>
    </ng-template>
  </div>

  <div class="w-full max-w-3xl">
    <div class="flex justify-between">
      <button (click)="cancel()" cButton color="secondary" shape="rounded-0">
        Cancel
      </button>
      <button (click)="acceptContractOffer()" cButton color="primary" shape="rounded-0" type="submit">
        Accept
      </button>
    </div>

    <div class="flex justify-end mt-3">
      <app-status-message
        #acceptOfferStatusMessage
        [errorMessage]="'Contract conclusion failed.'"
        [infoMessage]="'Contract conclusion ongoing.'"
        [successMessage]="'Contract conclusion successful.'">
      </app-status-message>
    </div>
  </div>
