<div class="flex flex-col items-center min-h-screen"> <!-- Full-page flex container -->
  <div class="pt-10 pb-40">
    <div class="flex justify-center pb-3 text-3xl font-bold text-brand-800">
      Contract and Transfer
    </div>
    <div class="flex justify-center text-lg">
      To transfer the Data Resource you have to accept the contract offer.
    </div>
  </div>

  <div class="flex justify-between w-full max-w-3xl mb-6 bg-white">
    <div class="font-bold text-lg p-3">
      {{ offer?.name }}
    </div>
    <div class="p-3">
      <c-badge color="primary" shape="rounded-0">
        {{ offer?.contentType }}
      </c-badge>
    </div>
  </div>

  <div class="w-full max-w-3xl pb-6">
    <c-accordion [flush]="true" [alwaysOpen]="true">
      <c-accordion-item #offeringDetails="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button (click)="offeringDetails.toggleItem()" [collapsed]="!offeringDetails.visible" cAccordionButton>
            View offering details
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div class="accordion-body">
            <b>Offer Type:</b> {{ offer?.offerType }} <br/><br/>
            <b>Creation Date:</b> {{ offer?.creationDate | date:'short' }} <br/><br/>
            <b>Offer Name:</b> {{ offer?.name }} <br/><br/>
            <b>Offer Description:</b> {{ offer?.description }}
          </div>
        </ng-template>
      </c-accordion-item>
      <c-accordion-item #contractDetails="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button (click)="contractDetails.toggleItem()" [collapsed]="!contractDetails.visible" cAccordionButton>
            View contract details
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea
            commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </ng-template>
      </c-accordion-item>
    </c-accordion>
  </div>

  <div class="w-full max-w-3xl">
    <div class="flex justify-between">
      <button (click)="cancel()" cButton color="secondary" shape="rounded-0">
        Cancel
      </button>
      <button (click)="acceptContractOffer()" cButton color="primary" shape="rounded-0" type="submit">
        Accept and transfer
      </button>
    </div>

    <div class="flex justify-end mt-3">
      <app-status-message
        #acceptOfferStatusMessage
        [errorMessage]="'Offer acceptance failed.'"
        [infoMessage]="'Offer acceptance ongoing.'"
        [successMessage]="'Offer acceptance successful.'">
      </app-status-message>
    </div>
  </div>
</div>
