<c-modal #modalOfferPrintView id="modalOfferPrintView" size="xl" alignment="center">
  <c-modal-header>
    <h5 *ngIf="offer" cModalTitle>Offer Print View</h5>
  </c-modal-header>
  <c-modal-body>
    <ng-container *ngIf="offer">
      <div id="print-section">
        <ng-container *ngIf="offer.dataOffering; else serviceOffering">
          <app-data-offer-print-view [printTimestamp]="printTimestamp" [offer]="offer"></app-data-offer-print-view>
        </ng-container>
        <ng-template #serviceOffering>
          <app-service-offer-print-view [printTimestamp]="printTimestamp"
                                        [offer]="offer"></app-service-offer-print-view>
        </ng-template>
      </div>
    </ng-container>
  </c-modal-body>
  <c-modal-footer>
    <ng-container *ngIf="offer">
      <div class="flex justify-end p-3 gap-2">
        <button [useExistingCss]="true" cButton color="primary" shape="rounded-0" printSectionId="print-section"
                ngxPrint
                styleSheetFile="./offer-print-view.component.scss,./service-offer-print-view/service-offer-print-view.component.scss,./data-offer-print-view/data-offer-print-view.component.scss"
                printTitle="offerPrintView_{{ getFormattedTimestamp(printTimestamp) }}_{{ getUrnUuid(offer.catalogOffering.id)}}">
          Print
        </button>
      </div>
    </ng-container>
    <button cButton color="primary" shape="rounded-0" [cModalToggle]="modalOfferPrintView.id">Close</button>
  </c-modal-footer>
</c-modal>
