<label class="form-label">POSSIBLE-X enforced policy</label>
<div cFormText>
  Please define POSSIBLE-X enforced policies based on POSSIBLE predefined policy classes for the provided Service Offering.<br><br>
  <span *ngIf="!isAnyPolicyChecked" class="font-bold">Currently, everything is allowed.</span><br>
</div>
<c-accordion [flush]="true">
  <c-accordion-item #participantRestrictionPolicyAccItem="cAccordionItem" [visible]="false" [ngClass]="{'disabled-accordion-item': isParticipantRestrictionPolicyDisabled}">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <div class="accordion-header" (click)="participantRestrictionPolicyAccItem.toggleItem()">
        <label>Restrict the contractual booking to organization(s)</label>
        <form [formGroup]="checkboxFormGroup">
          <mat-checkbox [formControlName]="participantRestrictionPolicyCB"
                        (change)="handleCheckboxChange(participantRestrictionPolicyCB, participantRestrictionPolicyAccItem)"
                        (click)="$event.stopPropagation()">
          </mat-checkbox>
        </form>
      </div>
    </ng-template>
    <ng-template cTemplateId="accordionBody">
      <div class="accordion-body">
        <div cFormText style="color: #7f7f7f;">
          Please select the organization(s).
        </div>
        <div *ngFor="let id of participantRestrictionPolicyIds; let i = index; trackBy:customTrackBy" class="flex flex-col space-y-2">
          <div class="flex items-center space-x-2">
            <select [(ngModel)]="participantRestrictionPolicyIds[i]" required class="form-select">
              <option *ngFor="let id of sortedIds" [value]="id">{{ getNameIdStringById(id) }}</option>
            </select>
            <button (click)="addInput()" *ngIf="i === 0" cButton color="primary" size="sm" variant="ghost">
              <svg cIcon class="" name="cib-addthis" size="xl"></svg>
            </button>
            <button (click)="removeInput(i)" *ngIf="i > 0" cButton color="primary" size="sm" variant="ghost">
              <svg cIcon class="" name="cil-trash" size="xl"></svg>
            </button>
          </div>
          <div *ngIf="!isFieldFilled(participantRestrictionPolicyIds[i])" style="color: red">
            <small>
              Please select an organization.
            </small>
          </div>
        </div>
      </div>
    </ng-template>
  </c-accordion-item>
  <c-accordion-item #startDatePolicyAccItem="cAccordionItem" [visible]="false" [ngClass]="{'disabled-accordion-item': isStartDatePolicyDisabled}">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <div class="accordion-header" (click)="startDatePolicyAccItem.toggleItem()">
        <label>Restrict contract duration - set start date</label>
        <form [formGroup]="checkboxFormGroup">
          <mat-checkbox [formControlName]="startDatePolicyCB"
                        (change)="handleCheckboxChange(startDatePolicyCB, startDatePolicyAccItem)"
                        (click)="$event.stopPropagation()">
          </mat-checkbox>
        </form>
      </div>
    </ng-template>
    <ng-template cTemplateId="accordionBody">
      <div class="accordion-body">
        <div cFormText style="color: #7f7f7f;">
          Please select the start date.
        </div>
        <div class="flex flex-col space-y-2">
          <mat-form-field>
            <mat-label>Select the date</mat-label>
            <input [ngxMatDatetimePicker]="picker" matInput [(ngModel)]="startDate">
            <mat-hint>DD/MM/YYYY, HH:MM:SS</mat-hint>
            <mat-datepicker-toggle [for]="$any(picker)" matIconSuffix></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [showSeconds]="true" #picker>
              <ngx-mat-datepicker-actions>
                <button ngxMatDatepickerApply>
                  <mat-icon>done</mat-icon>
                </button>
              </ngx-mat-datepicker-actions>
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <div *ngIf="!isValidDate(startDate)" style="color: red">
            <small>
              Please select a start date.
            </small>
          </div>
        </div>
      </div>
    </ng-template>
  </c-accordion-item>
  <c-accordion-item #endDatePolicyAccItem="cAccordionItem" [visible]="false" [ngClass]="{'disabled-accordion-item': isEndDatePolicyDisabled}">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <div class="accordion-header" (click)="endDatePolicyAccItem.toggleItem()">
        <label>Restrict contract duration - set end date</label>
        <form [formGroup]="checkboxFormGroup">
          <mat-checkbox [formControlName]="endDatePolicyCB"
                        (change)="handleCheckboxChange(endDatePolicyCB, endDatePolicyAccItem)"
                        (click)="$event.stopPropagation()">
          </mat-checkbox>
        </form>
      </div>
    </ng-template>
    <ng-template cTemplateId="accordionBody">
      <div class="accordion-body">
        <div cFormText style="color: #7f7f7f;">
          Please select the end date.
        </div>
        <div class="flex flex-col space-y-2">
          <mat-form-field>
            <mat-label>Select the date</mat-label>
            <input [ngxMatDatetimePicker]="picker" matInput [(ngModel)]="endDate">
            <mat-hint>DD/MM/YYYY, HH:MM:SS</mat-hint>
            <mat-datepicker-toggle [for]="$any(picker)" matIconSuffix></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [showSeconds]="true" #picker>
              <ngx-mat-datepicker-actions>
                <button ngxMatDatepickerApply>
                  <mat-icon>done</mat-icon>
                </button>
              </ngx-mat-datepicker-actions>
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <div *ngIf="!isValidDate(endDate)" style="color: red">
            <small>
              Please select an end date.
            </small>
          </div>
        </div>
      </div>
    </ng-template>
  </c-accordion-item>
  <c-accordion-item *ngIf="isOfferingDataOffering" #endAgreementOffsetPolicyAccItem="cAccordionItem" [visible]="false" [ngClass]="{'disabled-accordion-item': isEndAgreementOffsetPolicyDisabled}">
    <ng-template cTemplateId="accordionHeaderTemplate">
      <div class="accordion-header" (click)="endAgreementOffsetPolicyAccItem.toggleItem()">
        <label>Restrict transfer period</label>
        <form [formGroup]="checkboxFormGroup">
          <mat-checkbox [formControlName]="endAgreementOffsetPolicyCB"
                        (change)="handleCheckboxChange(endAgreementOffsetPolicyCB, endAgreementOffsetPolicyAccItem)"
                        (click)="$event.stopPropagation()">
          </mat-checkbox>
        </form>
      </div>
    </ng-template>
    <ng-template cTemplateId="accordionBody">
      <div class="accordion-body">
        <div cFormText style="color: #7f7f7f;">
          Please define the transfer period starting from the contract signing date.
        </div>
        <div class="flex flex-col">
            <div class="flex items-center gap-4">
              <label class="text-base flex-shrink-0 w-18">Quantity</label>
              <input [(ngModel)]="endAgreementOffset" type="number" class="form-control rounded-none flex-2" min="0" placeholder="e.g. 30">
              <label class="text-base flex-shrink-0 w-18">Time Unit</label>
              <select [(ngModel)]="endAgreementOffsetUnit" required class="form-select rounded-none flex-2">
                <option [value]="'s'">second(s)</option>
                <option [value]="'m'">minute(s)</option>
                <option [value]="'h'">hour(s)</option>
                <option [value]="'d'">day(s)</option>
              </select>
            </div>
          <div *ngIf="!isValidOffset(endAgreementOffset) || !isValidOffsetUnit(endAgreementOffsetUnit)" style="color: red">
            <small>
              Please enter a valid quantity and select a time unit. Hint: The quantity must be a positive number.
            </small>
          </div>
        </div>
      </div>
    </ng-template>
  </c-accordion-item>
</c-accordion>
<div *ngIf="this.isAnyPolicyInvalid" style="color: red">
  <small>
    Please check the selected POSSIBLE-X enforced policies.
  </small>
</div>
