<form (submit)="selectOffer(selectionForm.controls.offerId.value)" [formGroup]="selectionForm">
  <div class="form-group row pb-6 justify-start">
    <div class="max-h-20">
      <label class="form-label">Offer ID (as provided in Possible-X Catalogue):</label>
      <input class="form-control rounded-none" formControlName="offerId" placeholder="e.g. stadtwerke-netz-44ff-b685"
             type="text">
    </div>
    <div *ngIf="isInvalidOfferId" class="text-warning pt-2">
      The Offer ID can not contain special characters other than - (hyphen).
    </div>
  </div>

  <div class="flex justify-end">
    <button [disabled]="selectionForm.invalid" cButton color="primary" shape="rounded-0" type="submit">
      Select offer
    </button>
  </div>
</form>

<div class="flex justify-center mt-3">
  <app-status-message
    #queryCatalogStatusMessage
    [errorMessage]="'Catalog Request failed.'"
    [infoMessage]="'Catalog Request ongoing.'"
    [successMessage]="'Catalog request succeeded.'">
  </app-status-message>
</div>
