<form (submit)="selectOffer(selectionForm.controls.offerId.value)" [formGroup]="selectionForm">
  <div class="form-group row pb-6 justify-start">
    <div class="max-h-20">
      <label class="form-label" for="offerId">Service Offering ID or Data Service Offering ID (taken from a specific
        entry in the POSSIBLE-X Catalogue):</label>
      <input class="form-control rounded-none" formControlName="offerId" id="offerId"
             placeholder="e.g. urn:uuid:12ab34c-55dd-e67f"
             type="text">

    </div>
    <div *ngIf="isInvalidOfferId" class="text-warning pt-2">
      The Offering ID can not contain special characters other than - (hyphen).
    </div>
  </div>

  <div class="flex justify-end">
    <button [disabled]="selectionForm.invalid" cButton color="primary" shape="rounded-0" type="submit">
      Select Offering
    </button>
  </div>
</form>

<div class="flex justify-center mt-3">
  <app-status-message
    #queryCatalogStatusMessage
    [errorMessage]="'Catalogue Request failed.'"
    [infoMessage]="'Catalogue Request ongoing.'"
    [successMessage]="'Catalogue Request succeeded.'">
  </app-status-message>
</div>
