.headerWrapper {
    @apply bg-white;
  }

  .header {
    @apply flex items-end justify-between;
    @apply container max-w-screen-4xl px-8 py-4 xl:px-20;

    .logo {
      @apply flex flex-shrink-0 items-baseline;
      margin-right:1rem;
    }

    .navbar-nav{
      @apply flex flex-row flex-grow;
    }
  }

.active-tab {
  @apply underline text-brand-700;
  text-underline-offset: 9px;
  font-weight: bold;
  display: inline;
}

a[cNavLink] {
  position: relative;
  display: inline-block;
  text-align: center;
}

a[cNavLink]::before {
  content: attr(data-text);
  font-weight: bold;
  visibility: hidden;
  height: 0;
  display: block;
}

.footerWrapper {
    @apply overflow-hidden bg-brand-700;
    @apply w-full;
}

.footer {
    @apply grid grid-cols-1 flex-wrap gap-8 md:grid-cols-3;
    @apply mx-auto max-w-screen-4xl px-8 py-10 xl:px-20;
    @apply bg-brand-700 text-white;

    .circleVisual {
        @apply absolute;
        @apply rounded-full border border-white;
        @apply h-[435px] w-[436px];
        @apply -left-[264px] -top-[60px];
    }

    .logo {
        @apply relative flex-shrink-0 self-end;
    }

    a {
      @apply no-underline text-white;
  }
}

@media (max-width: 1024px) {
  /* Maintain padding on smaller screens */
  .navbar-nav c-nav-item a[cNavLink] {
    padding-left: 0.5rem; /* Ensure padding remains */
    padding-right: 0.5rem; /* Ensure padding remains */
  }
}
