<div class="h-screen">
  <div class="headerWrapper">
    <c-navbar class="header border-0" expand="lg">
      <c-container fluid>
        <a [routerLink]="['/']" cNavbarBrand class="logo">
          <img alt="POSSIBLE-X Logo" width="142" src="assets/images/brand/possible_blue.svg"/>
        </a>
        <c-navbar-nav class="navbar-nav">
          <c-nav-item *ngIf="!this.auth.isLoggedIn()">
            <a [routerLink]="['/login']" routerLinkActive="active-tab" data-text="Login" cNavLink>Login</a>
          </c-nav-item>
          <c-nav-item>
            <a [routerLink]="['/offer/provide']" routerLinkActive="active-tab" data-text="Provide Offer" cNavLink>Create Offering</a>
          </c-nav-item>
          <c-nav-item>
            <a [routerLink]="['/offer/consume']" routerLinkActive="active-tab" data-text="Consume Offer" cNavLink>Consume Offering</a>
          </c-nav-item>
          <c-nav-item>
            <a [routerLink]="['offer/contracts']" routerLinkActive="active-tab" data-text="Contracts" cNavLink>Contracts</a>
          </c-nav-item>
        </c-navbar-nav>
      </c-container>
    </c-navbar>
  </div>
  <div class="page-container">
    <c-container class="content">
      <router-outlet></router-outlet>
    </c-container>
    <img alt="" src="assets/images/brand/bottom-blue.svg" style="margin-left: auto;" width="500"/>
  </div>
  <div class="footerWrapper">
    <c-footer class="footer border-0">
      <div class="logo">
        <div class="circleVisual"></div>
        <img alt="POSSIBLE-X Logo" height="49" src="assets/images/brand/possible_white.svg" width="190"/>
      </div>
      <div>
        <div class="mb-8">
          <div class="mb-2 text-2xl">POSSIBLE-X</div>
        </div>
        <div class="mb-2">
          <a [routerLink]="['/licenses']">License Information</a>
        </div>
        <div class="text-sm">© 2024 POSSIBLE Consortium</div>
      </div>
      <div class="flex justify-end">
        Release: {{ versionNumber }} ({{ versionDate | date:'yyyy-MM-dd' }})
      </div>
    </c-footer>
  </div>
</div>
