<c-navbar colorScheme="light" expand="lg" class="bg-light">
    <c-container fluid>
      <a cNavbarBrand> <!-- href="https://www.possible-gaia-x.eu/" target="_blank"  rel="noopener"-->
        <img [src]="'assets/images/brand/possible_blue.svg'" [alt]="'POSSIBLE-X Logo'" [width]="130" [height]="30">
      </a>
      <button [cNavbarToggler]="collapseRef"></button>
      <div #collapseRef="cCollapse" navbar cCollapse>
        <c-navbar-nav class="me-auto mb-2 mb-lg-0">
          <c-nav-item>
            <a [routerLink]="['/home']" cNavLink>Home</a>
          </c-nav-item>
          <c-nav-item>
            <a cNavLink>Provide Service Offer</a>
          </c-nav-item>
          <c-nav-item>
            <a cNavLink>Consume Service Offer</a>
          </c-nav-item>
        </c-navbar-nav>
      </div>
    </c-container>
  </c-navbar>
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
        <router-outlet></router-outlet>
    </c-container>
  </div>
  <c-footer>
    <div>
      <span><img [src]="'assets/images/brand/possible_blue.svg'" [alt]="'POSSIBLE-X Logo'" [width]="130" [height]="30"> &copy; 2024 POSSIBLE</span>
    </div>
  </c-footer>
  