<div class="flex pt-16 justify-center min-h-content"> <!-- Full-page flex container -->
  <div class="p-6 w-full xl:max-w-screen-lg"> <!-- Centered form container with fixed max width -->
    <div class="flex flex-col items-center pb-14 text-brand-800">
      <div class="text-3xl font-bold">
        Create and Publish Offering
      </div>
      <div>
        Define the Data Service Offering or Service Offering and the policies.
      </div>
    </div>
    <app-offering-wizard-extension #wizardExtension></app-offering-wizard-extension>
  </div>
</div>
