<div class="grid-container">
  <br><br>
  <div class="pb-3 text-2xl font-bold text-brand-800">
    Login Page
  </div>
  <div class="text">
    Please enter your username and password to use the participant portal.
  </div>
  <div class="input">
    <label cLabel class="text" for="username">Username:</label>
    <input [(ngModel)]="username" class="form-control rounded-none" id="username" type="text">

  </div>
  <div class="input">
    <label cLabel class="text" for="password">Password:</label>
    <input [(ngModel)]="password" class="form-control rounded-none" id="password" type="password">

  </div>
  <button (click)="login(username, password)" cButton class="custom-button" shape="rounded-0">
    Login
  </button>
</div>
