<mat-accordion multi togglePosition="before">
  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="$event.stopPropagation();">
      <mat-panel-title class="font-bold">Enforcement Policies
        <span *ngIf="showValidity && isAnyPolicyInvalid" class="text-error">&nbsp;(One or more policies are not in compliance.)</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div (click)="$event.stopPropagation();">
      <div *ngFor="let ep of enforcementPolicies" [ngClass]="{'text-error': showValidity && !ep.valid}">
        <app-enforcement-policy-content [enforcementPolicy]="ep"/>
        <div *ngIf="showValidity && !ep.valid">
          <b>This policy is not in compliance.</b>
        </div>
        <br/>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
